@import "./style/global.css";

.Nav {
    background-color: rgba(239, 75, 63, 1);
    display: flex;
    color: black;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.Appname {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 800;
}

ul {
    display: flex;
}

li {
    margin-right: 20px;
    list-style: none;
}